example 1

In [2]:
print("Hello, World!")

Hello, World!

example 2

In [4]:
if 5>2:
    print("Five is greater then two!")

Five is greater then two!

example 3

In [6]:
x = 5 
y = "Hello World!"

example 4

In [8]:
#This is a comment.
print("Hello, World!")

Hello, World!

example 5

In [10]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

example 6

In [12]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

example 7

In [14]:
x = 5  # x is of type int 
y = "John" # y is of type str
print(x)
print(y)

5
John

example 8

In [16]:
x = str(3) #x will be '3'
y = int(3) #y will be 3
z = float(3) #z will be 3.0

example 9

In [18]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

example 10

In [20]:
x = "John"
#is the same as
x = 'John'
print(x)

John

example 11

In [22]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

example 12

In [24]:
x , y , z = "Orange", "Banana" , "Cherry" 
print(x)
print(y)
print(z)

Orange
Banana
Cherry

example 13

In [26]:
fruits = ["apple", "banana", "cherry"]
x , y , z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

example 14

In [28]:
x = 'Python '
y = 'is '
z = 'awesome '
print(x+y+z)

Python is awesome

example 15

In [30]:
x = 5
y = 'John'
print(x,y)

5 John

example 16

In [32]:
x = "awesome"
def myfunc():
    print("Python is " + x)

myfunc()

Python is awesome

example 17

In [34]:
x = "awesome"

def myfunc():
    x= " fantastic"
    print("python is " + x)

myfunc()
print("python is " + x)

python is  fantastic
python is awesome

example 18

In [36]:
x = "awesome"
def myfunc():
    global x
    x = 'fantastic'
myfunc()    
print("python is " + x)

python is fantastic

example 19

In [38]:
x = 5
print(type(x))

<class 'int'>

example 20

In [40]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

example 21

In [42]:
x = 1 #int
y = 5.2 #float
z = 1j #complex

a = float(x)
b = int(y)
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
5
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

example 22

In [44]:
import random
print(random.randrange(1,10))

7

example 23

In [46]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print(x , y , z)

1 2 3

example 24

In [48]:
a = """ hello , my name is Aibyn """
print(a)
b = ''' hello , my name is Aibyn '''
print(b)

 hello , my name is Aibyn
 hello , my name is Aibyn

example 25

In [50]:
a = "Hello , World!"
print(a[0])

H

example 26

In [52]:
for x in "banana":
    print(x)

b
a
n
a
n
a

example 27

In [54]:
a = "hello world!"
print(len(a))

12

example 28

In [56]:
txt = "The best things in life are free!"
print("free" in txt)

True

example 29

In [58]:
txt = "The best things in life are free!"
if "free" in txt:
        print("yes,'free' is present")

yes,'free' is present

example 30

In [60]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

example 31

In [62]:
b = "Hello , World!"
print(b[2:5])

llo

example 32

In [64]:
b = "Hello World!"
print(b[:5])

Hello

example 33

In [66]:
b = "Hello World!"
print(b[2:])

llo World!

example 34

In [68]:
b = "Hello, World!"
print(b[-5:-2])

orl

example 35

In [70]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [71]:
a = "Hello,World!"
print(a.lower())

hello,world!

example 36

In [73]:
a = "Hello, World!"
print(a.strip())

Hello, World!

In [74]:
a = " Hello, World!"
print(a.replace("H","J"))

 Jello, World!

example 37

In [76]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

example 38

In [78]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [79]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

example 39

In [81]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.